body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
    margin: 0;
}

a, a:hover {
    color: #333333;
    text-decoration: none;
}

#icon {
    transition: 0s width;
    width: 55px;
    height: auto;
}

#service_name {
    transition: 0s font-size;
}

#detail_page_link:hover #icon {
    width: 62px;
    height: auto;
    transition-delay: 0.2s;
}

#detail_page_link:hover #service_name {
    font-size: 210%;
    transition-delay: 0.2s;
}

#text_link:hover {
    font-size: 110%;
}

.bg-steel {
    background-color: #28c996;
}

#home {
    color: #333333;
}

.big_btn {
    font-size: 18pt;
    padding: 10px;
    border-radius: 8px;
    color: #28c996;
    border: 2px solid #28c996;
    background-color: #ffffff;
    font-weight: bold;
}

.big_btn:hover {
    color: #ffffff;
    border: 2px solid #ffffff;
    background-color: #28c996;
}

.main_btn {
    border-radius: 8px;
    color: #28c996;
    border: 2px solid #28c996;
    background-color: #ffffff;
    font-size: 12pt;
    font-weight: bold;
}

.main_btn:hover {
    color: #ffffff;
    border: 2px solid #ffffff;
    background-color: #28c996;
}

.site-header .navbar-nav .nav-link {
    color: #333333;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.button-tooltip-container {
    position: fixed;
    margin-left: 47%;
    display: flex;
    align-items: center;
}

#custom-tooltip {
    display: none;
    margin-bottom: 10px;
    padding: 12px;
    background-color: #42ce56;
    border-radius: 6px;
    color: #fff;
    font-size: 14pt;
}
