body {
    background: #333333;
    color: #bbbbbd;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #bbbbbd;
}

ul {
    margin: 0;
}

a, a:hover {
    color: #bbbbbd;
    text-decoration: none;
}

#icon {
    transition: 0s width;
    width: 55px;
    height: auto;
}

#service_name {
    transition: 0s font-size;
}

#detail_page_link:hover #icon {
    width: 62px;
    height: auto;
    transition-delay: 0.2s;
}

#detail_page_link:hover #service_name {
    font-size: 210%;
    transition-delay: 0.2s;
}

#text_link:hover {
    font-size: 110%;
}

.bg-steel {
    background-color: #28c996;
}

#home {
    color: #f2f2f3;
}

.big_btn {
    font-size: 18pt;
    padding: 10px;
    border-radius: 8px;
    color: #28c996;
    border: 2px solid #28c996;
    background-color: #333333;
    font-weight: bold;
}

.big_btn:hover {
    color: #333333;
    border: 2px solid #333333;
    background-color: #28c996;
}

.main_btn {
    border-radius: 8px;
    color: #28c996;
    border: 2px solid #28c996;
    background-color: #333333;
    font-size: 12pt;
    font-weight: bold;
}

.main_btn:hover {
    color: #333333;
    border: 2px solid #333333;
    background-color: #28c996;
}

.site-header .navbar-nav .nav-link {
    color: #f2f2f3;
}

.site-header .navbar-nav .nav-link:hover {
    color: #333333;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #333333;
    padding: 10px 20px;
    border: 1px solid #333333;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #bbbbbd;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #333333
}

.article-metadata a:hover {
    color: #bbbbbd;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.button-tooltip-container {
    position: fixed;
    margin-left: 47%;
    display: flex;
    align-items: center;
}

#custom-tooltip {
    display: none;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 6px;
    font-size: 14pt;
}

#password-box {
    border-color: #6e6d6d;
}

.circle {
    height: 300px;
    width: 300px;
    background-color: #28c996;
    border-radius: 50%;
    display: inline-block;
    margin-left: 50px;
    margin-top: 40px;
    line-height: 20px;
    position: relative;
    color: #000;
}

.inside-circle-txt {
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    font-size: 16pt;
}

.sign-up-btn {
    height: 80px;
    width: 200px;
    background-color: #28c996;
    border-radius: 25px;
    font-weight: bold;
    line-height: 20px;
    justify-content: center;
}

.sign-up-btn:hover {
    background-color: #1a8d6a;
}

.inside-btn-txt {
    position: absolute;
    bottom: 15.7%;
    left: 44.2%;
    text-align: center;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: #28c996;
    color: #fff;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    color: #333333;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #28c996 !important;
    color: #ffffff;
}
