{% extends "base.html" %}
{% block content %}
    <div class="text-center">
        <h1 style="margin-top: 100px;">Welcome to Simple Password Manager</h1>
    </div>
    <div>
        <div class="circle">
            <div class="inside-circle-txt">
                <h1 style="color: #333333">Free</h1>
                Register and use Simple Password Manager for free!
            </div>
        </div>
        <div class="circle">
            <div class="inside-circle-txt">
                <h1 style="color: #333333">Secure</h1>
                Store your passwords<br> securely!
            </div>
        </div>
        <div class="circle">
            <div class="inside-circle-txt">
                <h1 style="color: #333333">Web Based</h1>
                No need to download anything! Register and use!
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            {% if user.is_authenticated %}
                <div class="col-5"></div>
                <a class="col-2" href="{% url 'user-passwords' user.username %}">
                    <div class="sign-up-btn">
                        <h3 class="inside-btn-txt" style="color: #333333;">Your Passwords</h3>
                    </div>
                </a>
                <div class="col-5"></div>
            {% else %}
                <div class="col-5"></div>
                <div class="col-2">
                    <a href="{% url "register" %}">
                        <div class="sign-up-btn">
                            <h3 class="inside-btn-txt" style="color: #333333;">Sign Up Now!</h3>
                        </div>
                    </a>
                </div>
                <div class="col-5"></div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
