{% extends "passwords/base.html" %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-between mb-1" style="font-size: 18pt">
        <div>
            |Search Bar|
        </div>
        <div>
            <a class="big_btn" href="{% url 'password-create' %}">
                <b>Add</b>
            </a>
        </div>
    </div>
    <br>

    <div class="container" id="container">
        {% for passwords_row in passwords %}
            <div class="row align-items-center">
                {% for password in passwords_row %}
                    <div class="col-6 media content-section">
                        <div class="container">
                            <a class="row align-items-center mb-2" id="detail_page_link"
                               href="{% url 'password-detail' password.pk %}">
                                <div class="col-2">
                                    <img class="rounded-circle article-img" id="icon"
                                         src="https://www.shareicon.net/download/2015/09/04/95557_twitter.ico"
                                         alt="Icon of the service for which this password is stored">
                                </div>
                                <div class="col text-start">
                                    <h4 id="service_name">{{ password.service }}</h4>
                                </div>
                            </a>
                            <div class="row align-items-center mb-1" id="password_row">
                                <div class="col">
                                    <b>Password:</b>
                                </div>
                                <div class="col">
                                    <span id="password">•••••••••••</span>
                                </div>
                                <div class="col text-end align-items-center">
                                    <button class="main_btn" id="show"
                                            onclick='showPassword(event, "{{ password.password }}")'>Show</button>
                                    <button class="main_btn" onclick="copy('{{ password.password }}')">Copy</button>
                                </div>
                            </div>
                            {% if password.email %}
                                <div class="row align-items-center mb-1">
                                    <div class="col">
                                        <b>Email:</b>
                                    </div>
                                    <div class="col">
                                        {{ password.email }}
                                    </div>
                                    <div class="col text-end align-items-center">
                                        <button class="main_btn" onclick="copy('{{ password.email }}')">Copy</button>
                                    </div>
                                </div>
                            {% endif %}
                            {% if password.username %}
                                <div class="row align-items-center">
                                    <div class="col">
                                        <b>Username:</b>
                                    </div>
                                    <div class="col">
                                        {{ password.username }}
                                    </div>
                                    <div class="col text-end align-items-center">
                                        <button class="main_btn" onclick="copy('{{ password.username }}')">Copy</button>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <script src="../../static/passwords/buttons.js"></script>
{% endblock content %}
