{% extends "passwords/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="https://www.shareicon.net/download/2015/09/04/95557_twitter.ico">
        <div class="media-body">
            <div class="article-metadata">
                <div class="article-metadata">
                    <small class="text-muted">{{ password.date_created }}</small>
                </div>
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'password-update' object.id%}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'password-delete' object.id%}">Delete</a>
                </div>
            </div>
            <h2 class="article-title">{{ password.service }}</h2>
            <p class="article-content">
                {{ password.username }}  {{ password.password }}
            </p>
        </div>
    </article>
{% endblock content %}
