{% extends "passwords/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="https://www.shareicon.net/download/2015/09/04/95557_twitter.ico">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ password.date_created }}</small>
            </div>
            <div class="container">
                <div class="row d-flex justify-content-between align-items-center mb-4">
                    <div class="col">
                        <h2 class="article-title">{{ password.service }}</h2>
                    </div>
                    <div class="col">
                        <a class="main_btn" href="{% url 'password-update' object.id %}" style="padding: 4px;">
                            Update
                        </a>
                        <a class="btn btn-danger btn-sm ml-2 mb-1" href="{% url 'password-delete' object.id %}">
                            Delete
                        </a>
                    </div>
                </div>
                <div class="row d-flex justify-content-between align-items-center mb-4" id="row">
                    <div class="col">
                        <b>Password:</b><br><span id="password">•••••••••••</span>
                    </div>
                    <div class="col">
                        <button class="main_btn" onclick="copy('{{ password.password }}')">Copy</button>
                        <button class="main_btn" id="show" onclick='showPassword(event, "{{ password.password }}")'>
                            Show
                        </button>
                    </div>
                </div>
                <div class="row d-flex justify-content-between align-items-center mb-4">
                    <div class="col">
                        <b>Username:</b><br> {{ password.username }}
                    </div>
                    <div class="col">
                        <button class="main_btn" onclick="copy('{{ password.username }}')">Copy</button>
                    </div>
                </div>
                <div class="row d-flex justify-content-between align-items-center mb-4">
                    <div class="col">
                        <b>Email:</b><br> {{ password.email }}
                    </div>
                    <div class="col">
                        <button class="main_btn" onclick="copy('{{ password.email }}')">Copy</button>
                    </div>
                </div>
                {% if password.additional_info %}
                    <div class="row d-flex justify-content-between align-items-center mb-4">
                        <div class="col">
                            <b>Additional Information:</b><br> {{ password.additional_info }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </article>

    <script src="../../static/passwords/buttons.js"></script>
{% endblock content %}
