{% extends "passwords/base.html" %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-between mb-1" style="font-size: 18pt">
        <div>
            |Search Bar|
        </div>
        <div>
            <a class="big_btn" href="{% url 'password-create' %}">
                <b>Add</b>
            </a>
        </div>
    </div>
    <br>

    <div class="container" id="container">
        {% for password in passwords %}
            <div class="row d-flex justify-content-between media content-section align-items-center" id="row">
                <div class="col-xs-1">
                    <img class="rounded-circle article-img"
                         src="https://www.shareicon.net/download/2015/09/04/95557_twitter.ico">
                </div>
                <div class="col" style="font-size: 18pt;">
                    {{ password.service }}
                </div>
                <div class="col d-flex justify-content-evenly ml-4">
                    <div>
                        <b>Username:</b><br> {{ password.username }}
                    </div>
                    <div class="ml-4">
                        <button class="main_btn" onclick="copy('{{ password.username }}')">Copy</button>
                    </div>
                </div>
                <div class="col d-flex justify-content-evenly">
                    <div>
                        <b>Email:</b><br> {{ password.email }}
                    </div>
                    <div class="ml-4">
                        <button class="main_btn" onclick="copy('{{ password.email }}')">Copy</button>
                    </div>
                </div>
                <div class="col d-flex justify-content-between align-items-center">
                    <div>
                        <b>Password:</b><br> <span id="password">•••••••••••</span>
                    </div>
                    <div class="ml-4">
                        <button class="main_btn" onclick="copy('{{ password.password }}')">Copy</button>
                        <br>
                        <button class="main_btn" id="show" onclick='showPassword(event, "{{ password.password }}")'>
                            Show
                        </button>
                    </div>
                </div>
                <div class="col d-flex justify-content-between align-items-center">
                    <a href="{% url 'password-detail' password.pk %}">
                        <img id="more_info_icon" src="{% static "passwords/images/more.ico" %}" alt="Password Details">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="../../static/passwords/buttons.js"></script>
{% endblock content %}
