{% extends "passwords/base.html" %}
{% load static %}
{% block content %}
    <div class="container" style="font-size: 18pt">
        <div class="row">
            <div class="col-4 text-start">
                <form class="form-inline" autocomplete="off" method="GET"
                      action="{% url 'password-search' user.username %}">
                    <label class="autocomplete" style="width:300px;">
                        <input onkeydown="if (event.which === 13 || event.keyCode === 13) { submit(); }"
                                class="form-control" name="search" type="search" placeholder="Search" id="myInput">
                    </label>
                    <button class="big_btn p-0 px-1 pb-1" type="submit">Search</button>
                </form>
            </div>
            <div class="col-8 text-end">
                <a class="big_btn" href="{% url 'password-create' %}">
                    <b>Add</b>
                </a>
            </div>
        </div>
    </div>
    <br>

    <div class="container" id="container">
        {% for passwords_row in 2d_password_list %}
            <div class="row align-items-center">
                {% for password in passwords_row %}
                    <div class="col-6 media content-section" id="password-box">
                        <div class="container">
                            <a class="row align-items-center mb-2" id="detail_page_link"
                               href="{% url 'password-detail' password.pk %}">
                                <div class="col-2">
                                    <img class="article-img" id="icon"
                                         src='{{ password.service_icon_url }}'
                                         alt="Icon of the service for which this password is stored">
                                </div>
                                <div class="col text-start">
                                    <h4 id="service_name">{{ password.service_name }}</h4>
                                </div>
                            </a>
                            <div class="row align-items-center mb-1" id="password_row">
                                <div class="col">
                                    <b>Password:</b>
                                </div>
                                <div class="col">
                                    <span id="password">•••••••••••</span>
                                </div>
                                <div class="col text-end align-items-center">
                                    <button class="main_btn" id="show"
                                            onclick='showPassword(event, "{{ password.password }}")'>Show
                                    </button>
                                    <button class="main_btn" onclick="copy('{{ password.password }}')">Copy</button>
                                </div>
                            </div>
                            {% if password.email and password.username %}
                                <div class="row align-items-center mb-1">
                                    <div class="col">
                                        <b>Email:</b>
                                    </div>
                                    <div class="col">
                                        {{ password.email }}
                                    </div>
                                    <div class="col text-end align-items-center">
                                        <button class="main_btn" onclick="copy('{{ password.email }}')">Copy
                                        </button>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col">
                                        <b>Username:</b>
                                    </div>
                                    <div class="col">
                                        {{ password.username }}
                                    </div>
                                    <div class="col text-end align-items-center">
                                        <button class="main_btn" onclick="copy('{{ password.username }}')">Copy
                                        </button>
                                    </div>
                                </div>
                            {% elif password.email %}
                                <div class="row align-items-center mb-1">
                                    <div class="col">
                                        <b>Email:</b>
                                    </div>
                                    <div class="col">
                                        {{ password.email }}
                                    </div>
                                    <div class="col text-end align-items-center">
                                        <button class="main_btn" onclick="copy('{{ password.email }}')">Copy
                                        </button>
                                    </div>
                                </div>
                                <div class="row align-items-center mb-2">
                                    <br>
                                </div>
                            {% elif password.username %}
                                <div class="row align-items-center">
                                    <div class="col">
                                        <b>Username:</b>
                                    </div>
                                    <div class="col">
                                        {{ password.username }}
                                    </div>
                                    <div class="col text-end align-items-center">
                                        <button class="main_btn" onclick="copy('{{ password.username }}')">Copy
                                        </button>
                                    </div>
                                </div>
                                <div class="row align-items-center mb-2">
                                    <br>
                                </div>
                            {% else %}
                                <div class="row align-items-center mb-2">
                                    <br>
                                </div>
                                <div class="row align-items-center mb-2">
                                    <br>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% empty %}
            <h3>No Passwords</h3>
        {% endfor %}
    </div>

    <script src="../../static/passwords/autocompleteSearchBar.js"></script>
    <script>
        const service_names = [
            {% for service_name in service_names %}
                "{{service_name}}",
            {% endfor %}
        ];
        autocomplete(document.getElementById("myInput"), service_names);
    </script>
{% endblock content %}
